.lesson-calendar, .reservation-calendar{
    flex: 1;
    margin: 10px;
    margin-top: 32px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.lesson-container{
    flex: 2;
}

.reservation-table, .pending-payments-table, .users-table{
    margin: 30px;
}

.date-alert{
    text-align : center;
}
.ant-radio-group-small{
    visibility: hidden;
}

.add-lesson-button, .add-lesson-button{
    float: left;
    margin: 0 auto;
    margin-top: -50px;
}

.schedule-lesson-table{
    margin-top: -20px;
}

.add-lesson-button-no-data, .add-lesson-button-no-data{
    margin-top: 14px;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.custom-filter-dropdown button {
    margin-right: 8px;
}

.highlight {
    color: #f50;
}
