.horseico-circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
}